@{
    ViewData["Title"] = "Home Page";
    Layout = "_BaseLayout";
}

@section Scripts{
    <script>
        var PerImageCount = 0; //预加载图片计数器，当加载完成是等于BgImageArray集合的元素数量
        var CurrIndex = 0; //轮播图片标识
        var PassFlag = "0"; //鼠标状态机
        var PerImageArray = []; //Image对象集合 用于预加载图片
        //var BgImageArray = ['Context_Bg1', 'Context_Bg2', 'Context_Bg3', 'Context_Bg4'];
        var BgImageArray = [
            { ShowImg: '/image/Context_Bg1.png', HideImg: "/image/Context_Bg1.1.png" },
            { ShowImg: '/image/Context_Bg2.png', HideImg: "/image/Context_Bg2.1.png" },
            { ShowImg: '/image/Context_Bg3.png', HideImg: "/image/Context_Bg3.1.png" },
            { ShowImg: '/image/Context_Bg4.png', HideImg: "/image/Context_Bg4.1.png" }
        ];
        $(document).ready(function(event) {
            // a.complete(function () { alert('done');});

            //$(".ContextBg1").click(function (event) {
            //    $(this).fadeOut("fast");
            //    $(".ContextBg2").fadeIn("fast");
            //});
            $("#ContextBg").append('<Div id="LoadingImg" Class="LoadingDiv"</div>');
            PerImage(BgImageArray);
            CheckPerLoadSate(BgImageArray);

        });

        function CheckPerLoadSate(BgUrlArray) {
            if (PerImageCount == BgUrlArray.length) {
                $("#LoadingImg").fadeOut('slow');
                InitPhoto(BgUrlArray);
            } else {
                setTimeout(function() { CheckPerLoadSate(BgUrlArray); }, 5000)
            };
        }

        function PerImage(BgUrlArray) {
            for (var i = 0; i < BgUrlArray.length; i++) {
            //    console.log(BgImageArray[i].ShowImg);
                PerImageArray[i] = new Image;
                PerImageArray[i].src = BgImageArray[i].ShowImg.toString();
                PerImageArray[i].onload = function() { PerImageCount++; }

            }

        }

        function InitPhoto(BgUrlArray) {
            for (var i = 0; i < BgUrlArray.length; i++) {
                $("#ContextBg").append("<div id = BgImgaeS_" +
                    i +
                    " class = \"ContextBgShow\" style=\"background:url(" +
                    BgImageArray[i].ShowImg.toString() +
                    ") no-repeat center top ;\"></div>");
                $("#ContextBg").append("<div id = BgImgaeH_" +
                    i +
                    " class = \"ContextBgHide\" style=\"background:url(" +
                    BgImageArray[i].HideImg.toString() +
                    ") no-repeat center top ;\"></div>");
            }
            $(".ContextBut").fadeIn(3000, function() { LoopingContextBg(CurrIndex); });
        }

        function LoopingContextBg(index) {
            if (PassFlag == "1") {
                setTimeout(function() { LoopingContextBg(CurrIndex) }, 5000);
                return;
            }
            if (index > BgImageArray.length - 1) {
                index = index - BgImageArray.length;
            }
            $("#BgImgaeH_" + index).fadeOut(1000);
            $("#BgImgaeS_" + index).fadeOut(1000);
            CurrIndex = index;
            //  CurrIndex = index;
            // if (index > BgImageArray.length - 1) {
            //        index = index - BgImageArray.length;
            //    }
            $("#BgImgaeS_" + CurrIndex).fadeIn(1000,
                function() {
                    //$("#BgImgaeH_" + index).fadeIn(1000);
                });
            var T;
            $(".ContextBut").unbind("mousemove");
            $(".ContextBut").unbind("mouseout");
            $(".ContextBut").on('mouseenter',
                function() {
                    clearTimeout(T);
                    T = setTimeout(function() {
                            PassFlag = "1";
                            $("#BgImgaeS_" + index).fadeOut(500);
                            $("#BgImgaeH_" + CurrIndex).fadeIn(500);
                        },
                        200);
                });

            $(".ContextBut").on("mouseleave",
                function(e) {
                    clearTimeout(T);
                    if (PassFlag == "1") {
                        $("#BgImgaeH_" + CurrIndex).fadeOut(500);
                        $("#BgImgaeS_" + CurrIndex).fadeIn(500, function() { PassFlag = "0"; });
                    }
                });
            setTimeout(function() { LoopingContextBg(index + 1) }, 5000);
        }
    </script>
}


<div class="body">
    <div class="Context">
        <div class="ContextBut" style="display: none">
            <a>WelComeToMyBlog</a>
        </div>
        <div id="ContextBg" class="ContextBg_Index">
        </div>
        <!--<div class="ContextBg2">

        </div>-->

    </div>
    <div class="Bottom">
        <ul class="BottomUl">
            <li>
                <A href="#">Design By Ghost</A>
            </li>
            <li>
                <A href="#">Contact Me</A>
            </li>
        </ul>
    </div>
</div>

